[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
octodns = "*"
octodns-cloudflare = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
dns-export = "scripts/export-records.sh"
dns-plan = "pipenv run dns-dryrun"
dns-deploy = "pipenv run dns-apply"
dns-dryrun = "octodns-sync --config-file=./octodns-config.yml"
dns-apply = "octodns-sync --config-file=./octodns-config.yml --doit"