-e git+https://github.com/octodns/octodns.git@a6b6bfdd0399bdaf10917c7558e71881081e3e78#egg=octodns
-e git+https://github.com/octodns/octodns-cloudflare.git@bcaa09c974ce81d7497a2fdfa5c214ab75609beb#egg=octodns-cloudflare